html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../../assets/img/workspace-bg.jpg") no-repeat center / cover;

  &__header{
    flex: 0 0 auto;
  }

  &__main{
    flex: 1 1 auto;
    position: relative;
  }

  &__footer{
    flex: 0 0 auto;
  }
}