@import "../../assets/scss/abstracts/abstracts";

.window{
  border-radius: 1rem;
  background-color: rgba(lighten($windowBg, 5%), .9);
  box-shadow: 0 .4rem 1.4rem rgba($black,.15);
  backdrop-filter: blur(10px);
  min-width: 28rem;
  z-index: $windowZIndex;
  -webkit-font-smoothing: antialiased;

  $this: &;

  &--expanded{
    border-radius: 0;

    #{$this}__head{
      border-radius: 0;
    }
  }

  &--active{
    z-index: $windowZIndexActive;
    background-color: rgba($windowBg, .9);

    #{$this}__head{
      background-color: $contentHeadBg;
    }
  }

  &__holder{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__head{
    display: flex;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    padding: .8rem 1.6rem .8rem 2.4rem;
    color: $white;
    background-color: $windowHeadBgDefault;
  }

  &__controls{
    display: flex;
    align-items: center;
  }

  &__controls-btn{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 .8rem;
    background-color: $windowControlsBtn;
    color: $white;
    cursor: pointer;

    @extend %buttonreset;
    @include animate(background-color);

    &:hover{
      background-color: darken($windowControlsBtn, 10%);
    }

    &--close:hover{
      background-color: $accent;
    }
  }

  &__title{
    flex: 1 1 auto;
    font-weight: 700;
    padding: 0 2rem 0 0;
    font-size: 1.3rem;
    @extend %textEllipsis;
    min-width: 0;
  }

  &__main{
    flex: 1 1 auto;
    display: flex;
    cursor: default !important;
  }

  &__aside{
    flex: 0 1 25rem;
    border-right: .1rem solid black;
  }

  &__content{
    position: relative;
    flex: 1 1 auto;
    padding: 2.4rem;
  }
}